---
import '../styles/global.css';

import { ViewTransitions } from 'astro:transitions';

import Content from '../components/Content.astro';
import { config } from '../config';

export type Props = {
  title?: string;
  description?: string;
  ogImage?: string;
};

const {
  title = config.TITLE,
  description = config.DESCRIPTION,
  ogImage = 'og.png',
} = Astro.props;

const ogURL = new URL(ogImage, Astro.url.origin).href;

const canonicalURL = new URL(Astro.url.pathname, Astro.site).href;
---

<!doctype html>
<html lang="en">
  <head>
    <link
      rel="preload"
      as="font"
      href="/fonts/CascadiaCode.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="canonical" href={canonicalURL} />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="author" content={config.AUTHOR} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content={ogURL} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={ogURL} />

    <ViewTransitions />
  </head>

  <Content>
    <slot />
  </Content>
</html>
